// Partials
@use "../sass/partials/variables";
@use "../sass/partials/reset";
// @use "../sass/partials/images";
// @use "../sass/partials/buttons";
// @use "../sass/partials/icons";
// @use "../sass/partials/comments";
// @use "../sass/partials/texts";

// Templates
// @use "../sass/templates/content";

html {
  overflow-x: hidden;
}

::selection {
  background-color: variables.$quaternaryColor;
  color: variables.$tertiaryColor;
}

body {
  color: variables.$primaryColor;
  @include variables.font-sel("primary", 500, left);
  @include variables.font-size(variables.$f_xxsmall);
}
.site-container {
  position: relative;
  overflow: hidden;
  max-width: 2000px;
  margin: 0 auto;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #ddd;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

.reveal-disabled {
  opacity: 0;
}

.reveal-enabled {
  opacity: 1;
  transition: all 0.4s;
}

.ronik-password-disabled{
  pointer-events: none !important;
  opacity: 0.4 !important;
}

.ronik-password__container{
  position: relative;

  .adv-passwordchecker{

  }
  .ronik-password__message{
    padding: 5px;
    position: relative;
    display: inline-block;
    color: #525252;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    transition: all .4s;

    &.weak-password{
      background-color: #ff00006b;
    }
    &.medium-password{
      background-color: #ffff0099;
    }
    &.strong-password{
      background-color: #00ff4099;
    }
  }
  .ronik-password__message-additional{
    padding: 5px;
    position: relative;
    display: inline-block;
    color: #525252;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    transition: all .4s;
  }
}

.twofa-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;

  img{
    width: 100%;
    height: 100%;
    max-width: 200px;
    margin: 25px;
  }
}

.pass-reset-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;

  .pass-reset-message{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;

    div{
      padding: 10px;
      border-radius: 5px;
      width: 100%;
      color: black;
      text-align: center;
      font-style: italic;
    }
    .pass-reset-message__success{
      color: #ffff;
      background-color: green;
    }
    .pass-reset-message__nomatch{
      background-color: orange;
    }
    .pass-reset-message__missing{
      background-color: orange;
    }
  }
  form{ 
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .ronik-password__container{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      
      label{
        padding-bottom: 5px;
      }
      input{
        line-height: 1;
        padding: 5px 10px;
        margin: 5px 0px;
        border: solid 1px;
        border-radius: 2px;
      }
      .ronik-password__message{
        width: 100%;
        margin-top: 5px;
        margin-bottom: 10px;
      }
    }
    button{
      transition: all .4s;
      cursor: pointer;
      background-color: #000;
      color: #ffff;
      border: none;
      padding: 10px;
      border-radius: 4px;
      opacity: 1;

      &:hover{
        opacity: 0.8;
      }
    }
  }
}

.auth-wrapper{
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  background-size: cover;
  margin: 0 auto;
  padding: 64px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;

  .mfa-message{
    margin: -74px;
    width: calc(100% + (64px*2));
    margin-bottom: 25px;
    font-family: 'gotham-light', sans-serif;
    font-size: 17px;

    .mfa-message__nomatch{
      margin: 0;
      background-color: #D34949;
    }
  }
  
  .auth-flagger{
    background-color: #1A1A1A;
    width: 249px;
    height: 229px;
    flex: 0 1 auto;
  }
}
.mfa-wrapper, .auth-content, .twofa-wrapper {
  background: #ffff;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 96px 56px;
  max-width: 836px;
  font-family: 'gotham-bookgotham-book', sans-serif;
  font-size: 32px;
  line-height: 1.4;
  color: #1A1A1A;
  
  h2{
    font-size: 32px;
    line-height: 1;
  }
  .instructions, form{
    font-family: 'gotham-light', sans-serif;
    font-size: 14px;
    padding-top: 28px;
  }
  .instructions{
    h3, h4, h5, h6{
      font-family: 'gotham-light', sans-serif;
      font-size: 17px;
      padding-bottom: 28px;
    }
    p, strong{
      padding-bottom: 28px;
    }
    p:last-child, strong:last-child{
      padding-bottom: 0;
    }
    a{
      font-family: 'gotham-mediumgotham-medium', sans-serif;
      color: #1A1A1A;
      transition: all .4s;
      text-decoration: underline;

      &:hover{
        color: #686868;
      }
    }
    ul {
      margin: 0 16px;
      padding: 0;
      li{
        padding-bottom: 5px;

        &:last-child{
          padding-bottom: 0;
        }
      }
    }
  }
  form{
    span{
      width: 100%;
      display: flex;
      padding-bottom: 14px;
    }
    p {
      padding-bottom: 32px;
    }
    button{
      font-family: 'gotham-mediumgotham-medium', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-weight: normal;

      letter-spacing: 2.5px;
      color: #ffff;
      transition: all .4s;
      text-decoration: underline;
      display: inline-block;
      line-height: 41px;
      text-transform: uppercase;
      text-align: center;
      border: 2px solid #1A1A1A;
      transition: all 250ms ease;
      background-color: #1A1A1A;
      padding: 0 16px;
      white-space: nowrap;
      clear: both;
      font-size: 14px;
      height: 45px;
      text-decoration: unset;
      cursor: pointer;

      &:hover{
        background-color: #fff;
        color: #1A1A1A;
      }
    }

    .button-wrapper{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 40px;
      
      button {
        margin-right: 25px;
        position: relative;

        &::after{
          content: "";
          position: absolute;
          right: -15px;
          top: 0;
          width: 1px;
          height: 100%;
          background: #1A1A1A;
        }
      }
      a{
        color: #1A1A1A;
        transition: all .4s;
        text-decoration: none;
        font-family: 'gotham-light', sans-serif;
        font-size: 14px;
    
        &:hover{
          color: #686868;
        }
      }
    }

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #000;
        border-radius: 100%;
        background: transparent;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 12px;
        height: 12px;
        background: #000000;
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

  }
  .auth-content-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;

    .qr-code-wrapper{
      // width: 50%;
      flex: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 14px;

      img{
        width: 175px;
        height: 175px;
      }
      p{
        font-family: 'gotham-mediumgotham-medium', sans-serif;
        font-size: 14px;
        text-align: center;
      }
    }
    .auth-content-bottom__submit{
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      max-width: 492px;

      input[name="google2fa_code"]{
        flex: 1;
        width: 100%;
        height: 54px;
        border: solid #D3D3D3;
        margin-right: 18px;
        padding: 0px 12px;
      }
      input[type="submit"]{
        flex: 0;

        font-family: 'gotham-mediumgotham-medium', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-style: normal;
        font-weight: normal;
  
        letter-spacing: 2.5px;
        color: #ffff;
        transition: all .4s;
        text-decoration: underline;
        display: inline-block;
        line-height: 41px;
        text-transform: uppercase;
        text-align: center;
        border: 2px solid #1A1A1A;
        transition: all 250ms ease;
        background-color: #1A1A1A;
        padding: 0 64px;
        white-space: nowrap;
        clear: both;
        font-size: 14px;
        height: 52px;
        text-decoration: unset;
        cursor: pointer;
      }

      &_error{
        input[name="google2fa_code"]{
          border: solid 1px #FF0000;

        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #FF0000 !important;
        }
        ::-moz-placeholder { /* Firefox 19+ */
          color: #FF0000 !important;
        }
        :-ms-input-placeholder { /* IE 10+ */
          color: #FF0000 !important;
        }
        :-moz-placeholder { /* Firefox 18- */
          color: #FF0000 !important;
        }
      }
    }
    .message{ 
      color: #FF0000;
      font-family: 'gotham-light', sans-serif;
      font-size: 14px;
      padding-top: 16px;
      line-height: 1;
      width: 100%;
      padding-bottom: 8px;
    }
    .auth-content-bottom__goback{
      width: 100%;
    }
    .auth-content-bottom__helper{
      font-family: 'gotham-light', sans-serif;
      font-size: 14px;
      padding-top: 24px;
      line-height: 1;

      a{
        font-family: 'gotham-mediumgotham-medium', sans-serif;
        color: #1A1A1A;
        transition: all .4s;
        text-decoration: underline;
  
        &:hover{
          color: #686868;
        }
      }
    }

    &--sms{
      .auth-content-bottom__submit{
        width: 100%;
        max-width: inherit;
        flex: 0 1 auto;
        justify-content: flex-start;
        align-items: flex-start;

        .auth-content-bottom__submit-contents{
          display: flex;
          flex-direction: column;
          position: relative;
          
          input{
            width: auto;
            height: 54px;
            border: solid #D3D3D3;
            margin-right: 18px;
            padding: 0px 12px 0px 50px;
          }

          input[name="validate-sms-code"]{
            width: 269px;
          }
          small{
            font-family: 'gotham-light', sans-serif;
            font-size: 14px;
            line-height: 1;
            padding-top: 12px;
          }
        }
        button{
          height: 56px;
          margin-top: 0;
          width: 100%;
          max-width: 205px;

          &.btn-disabled{
            opacity: 0.5;
            pointer-events: none;
          }
        }
      }
    }
  }
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #D3D3D3;
  font-size: 17px;
  font-family: 'gotham-light', sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #D3D3D3;
  font-size: 17px;
  font-family: 'gotham-light', sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #D3D3D3;
  font-size: 17px;
  font-family: 'gotham-light', sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
  color: #D3D3D3;
  font-size: 17px;
  font-family: 'gotham-light', sans-serif;
}











 
 
.twofa-content, .mfa-content{
  width: 100%;
}
.twofa-message, .mfa-message{
  font-size: 16px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  width: 100%;
}
.twofa-message__success{
  padding: 15px 20px;
  background-color: #acff7b;
  color: #000;
  margin: 10px 0;
}
.twofa-message__nomatch, .mfa-message__nomatch {
  padding: 15px 20px;
  background-color: #ff6060;
  margin: 10px 0;
}
.mfa-message__message {
  padding: 15px 20px;
  background-color: #ffda60;
  margin: 10px 0;
}

.dev-notice{
  box-shadow: 10px 10px 33px -26px rgba(0,0,0,0.75);
  position: fixed;
  top: 5em;
  right: 0px;
  z-index: 11111111;
  background-color: #acff7b;
  border-radius: 20px 0px 0px 20px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  transform: scale(.4);
  transform-origin: right;
}
.dev-notice h4, .dev-notice p{
  padding-bottom: 5px;
}


.registeration-mfa-reset{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  border-top: solid 1px #c8c8c8;
  margin-top: 50px;

  button{
    margin-top: 40px;
    font-family: 'gotham-mediumgotham-medium', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 2.5px;
    color: #ffff;
    transition: all .4s;
    text-decoration: underline;
    display: inline-block;
    line-height: 41px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #1A1A1A;
    transition: all 250ms ease;
    background-color: #1A1A1A;
    padding: 0 16px;
    white-space: nowrap;
    clear: both;
    font-size: 14px;
    height: 45px;
    text-decoration: unset;
    cursor: pointer;
  
    &:hover{
      background-color: #fff;
      color: #1A1A1A;
    }
  }
}